html,body{
    margin: 0;
    padding: 0;

}
.nav{  
    display: inline-flex;
 }
 header{
    background-color :#0B170A;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    }
    .nav a{
        color: white;
        text-decoration: none;

    }
    nav {
        width: 33%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        justify-content: space-between;
    }

    