/* Toute la page */
body,html{
    padding: 0;
    margin: 0;
}
.bg-custom{
    background-color: #C6C7C9;
}
/* HEADER + NAV */

header{
    background-color :#0B170A;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    }
    .nav a{
        color: white;
        text-decoration: none;
    }
.nav{  
    display: inline-flex;
}
    nav {
        width: 33%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        justify-content: space-between;
    }
/* CONTENU DE LA PAGE */
.img{
    margin-top: 110px;
    
}
.img1{
    width: 325px;
    margin-top: 110px;
    margin-bottom: 30px;
}
.row1 {
    display: flex;
    justify-content: space-around;
    }

.row2 {
    display: flex;
    justify-content: space-around;
    }

.col1 {
    width: 25%;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}


.col2 {
    width: 25%;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}
/*Footer*/
footer{
    margin-top: 50px;
    background-color :#0B170A;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    
}   
.rue{
    font-size: 30px;
    justify-content: space-around;
    margin-top: 20px;
}
.tel{
    font-size: 30px;
    justify-content: space-around;
    margin-top: 20px;
}
.mail{
    font-size: 30px;
    justify-content: space-around;
    margin-top: 20px;
    text-decoration: underline;
}
.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
@media screen and (max-width: 700px){
    nav{
        width: auto;
        flex-direction: column;
    }
    .logo{
        display: none;
    }
    .nav{
        height: auto;
    }
    .col1{
        height: auto;
        width: auto;
        
    }
    .row1{
        flex-direction: column;
        width: auto;
        align-items: center;
        
    }
    .row{
        width: 100%;
    }
    .col2{
        width: auto;
        text-align: center;
        align-items: center;
    }
    .row2{
        flex-direction: column-reverse;
        margin-bottom: 40px;
        width: auto;
        align-items: center;
    }
    footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .rue{
        font-size: 20px;
    }
    .mail{
        font-size: 20px;
        margin-bottom: 20px;
    
    }
    .tel{
        font-size: 20px;
    }
    .bouton{
        margin-top: 20px;
    }
    #first{
        margin-left: 30px;
    }
    #two{
        margin-left: 40px;
    }
    #three{
        margin-left: 50px;
    }
}


